export_manifest/ims_xml.xsd

<?xml version="1.0"?><xsd:schema xmlns="http://www.w3.org/XML/1998/namespace"            targetNamespace="http://www.w3.org/XML/1998/namespace"            xmlns:xml="http://www.w3.org/XML/1998/namespace"            xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="qualified">	<xsd:annotation>		<xsd:documentation>In namespace-aware XML processors, the "xml" prefix is bound to the namespace name http://www.w3.org/XML/1998/namespace.</xsd:documentation>		<xsd:documentation>Do not reference this file in XML instances</xsd:documentation>                <xsd:documentation>Schawn Thropp: Changed the uriReference type to string type</xsd:documentation>	</xsd:annotation>	<xsd:attribute name="lang" type="xsd:language">		<xsd:annotation>			<xsd:documentation>Refers to universal  XML 1.0 lang attribute</xsd:documentation>		</xsd:annotation>	</xsd:attribute>	<xsd:attribute name="base" type="xsd:string">		<xsd:annotation>			<xsd:documentation>Refers to XML Base: http://www.w3.org/TR/xmlbase</xsd:documentation>		</xsd:annotation>	</xsd:attribute>	<xsd:attribute name="link" type="xsd:string"/></xsd:schema>